<!DOCTYPE html>
<html>
    <head>
        <title>FoodMate</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div class="text-center" id="landing-header" >
 		<h1>FOODMATE</h1>
		<a href="/recipes" class="btn btn-lg btn-dark">Explore Recipes</a>
    </div>
    </body>
</html>
